<div class="top-bar">
	行坐文化科技后台管理
</div>

<!-- menu start -->
<div class="side-nav" id="side-nav">
	<ul class="list-group" id="side-nav-ul">
	  <li class="sub-item {{cur=='manage'?'cur':''}}" data-click-event="select">
	    <a class="mn" data-href="/product/manage" data-click-event="router">
	      <i class="ico icon-products"></i>
	      <span class="menu-title">景区管理</span>
	    </a>
	  </li>
	  <li class="sub-item" data-click-event="select">
	    <a class="mn" href="javascript:;">
	      <i class="ico icon-article"></i>
	      <span class="menu-title">语音管理</span>
	    </a>
	  </li>
	  <li class="sub-item" data-click-event="select">
	    <a class="mn" href="javascript:;">
	      <i class="ico icon-orders"></i>
	      <span class="menu-title">激活管理</span>
	    </a>
	  </li>
	</ul>
</div>
<!-- menu end -->