<div class="top-bar">
	迅雷文件推送系统
</div>

<!-- menu start -->
<div class="side-nav" id="side-nav">
	<ul class="list-group" id="side-nav-ul">
	  <li class="sub-item {{active=='region'?'active':''}}" data-click-event="select">
	    <a class="mn" href="/#/region/manage">
	      <i class="ico icon-products"></i>
	      <span class="menu-title">推送管理</span>
	    </a>
	  </li>
<!-- 	  <li class="sub-item {{active=='audio'?'active':''}}" data-click-event="select">
	    <a class="mn" href="/#/audio/manage">
	      <i class="ico icon-article"></i>
	      <span class="menu-title">语音管理</span>
	    </a>
	  </li>
	  <li class="sub-item {{active=='activation'?'active':''}}" data-click-event="select">
	    <a class="mn" href="/#/activation/manage">
	      <i class="ico icon-orders"></i>
	      <span class="menu-title">激活管理</span>
	    </a>
	  </li>
	  <li class="sub-item {{active=='tips'?'active':''}}" data-click-event="select">
	    <a class="mn" href="/#/tips/manage">
	      <i class="ico icon-orders"></i>
	      <span class="menu-title">广告条管理</span>
	    </a>
	  </li> -->
	</ul>
</div>
<!-- menu end -->