<div class="main-cont">
	<!-- title start -->
	<div class="layout-title">
		<div class="crumb-nav">
			<a href="/#/index">首页</a>
			<span class="arrow-right">></span>
			<a href="/#/audio/manage">语音管理</a>
			<span class="arrow-right">></span>
			<span>{{action}}语音</span>
		</div>

		<h2 class="topic">{{action}}语音成功</h2>

	</div>
	<!-- title end -->

	<!-- content start -->
	<div class="layout-cont">
		<div class="box-infor">
			<h1 class="success">{{action}}语音成功!</h1>
			<div class="row-inpt">
				<div class="ctt">
					{{if action == '新建'}}
					<a href="/#/audio/add" class="btn-confirm">继续{{action}}</a>
					{{/if}}
					<a href="/#/audio/manage" class="btn-confirm">返回列表</a>
					<!-- <a href="javascript:;" class="btn-confirm" data-click-event="preview">预览</a> -->
				</div>
			</div>
		</div>	
	</div>
	<!-- content end -->

</div>