<div class="layout-err-tips-wrapper">
	<span class="layout-err-tips" id="errortips">
	</span>
</div>


<div class="main-cont">
	<!-- title start -->
	<div class="layout-title">
		
		<div class="crumb-nav">
			<a href="/#/index">首页</a>
			<span class="arrow-right">></span>
			<span>推送管理</span>
		</div>

		<h2 class="topic">推送管理</h2>

	</div>
	<!-- title end -->

	<!-- content start -->
	<div class="layout-cont">
		<div class="layout-func">
			<input type="file" bind-file="files"></input>
			<a href="javascript:;" id="upload-button" data-click-event="upload" bind-attr="class={files}?'btn-func':'btn-func disabled'">上传至服务器</a>
			<div class="progress-bar" id="progress-bar" style="display: none">
				<div bind-content="uploadPercentString" class="indicator"></div>
				<div class="progress-bar-load" bind-attr="style='width:'+{uploadPercentString}">
					&nbsp;
				</div>
			</div>
			<div class="hint" id="server-process" style="display: none">
				服务器处理中...
			</div>
			<div class="hint upload-success" id="upoad-success" style="display: none">
				上传成功
				<a class="link" href="javascript:;" data-click-event="newfile">重新上传</a>
			</div>
		</div>

		<div class="tablelist-wrapper">

			<div class="table-title">
				<h2 class="topic">选择推送目标</h2>
			</div>

			<div class="tablelist-cont">
					<!-- table start -->
					<div class="table-infor">
						<div class="table-wrapper">
							<table class="manage-list" border="1" cellpadding="0" cellspacing="0">
								<tbody id="tbody">
									<tr>
										<th>
											编号
										</th>
										<th>
											地区
										</th>
										<th>
											单位/个人
										</th>
										<th>
											下载宝pid
										</th>
										<th>
											状态
										</th>
										<th>
											<input type="checkbox" data-click-event="clickall">
										</th>
									</tr>
									<tr bind-repeat="gridData" style="display:none">
										<td bind-content="id"></td>
										<td bind-content="regionName"></td>
										<td bind-content="name"></td>
										<td bind-content="pid"></td>
										<td bind-content="status"></td>
										<td>
											<input bind-checked="checked" data-click-event="checkone" type="checkbox">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					<!-- 分页 start -->
					<!-- <div class="box-paging clear">
						<span class="prev">上一页</span>
						<a class="prev hide" href="#nolink">上一页</a>
						<a class="cur" href="#nolink">1</a>
						<a href="#nolink">2</a>
						<a href="#nolink">3</a>
						<a href="#nolink">4</a>
						<a href="#nolink">5</a>
						<span>...</span>
						<a href="#nolink" class="next">下一页</a>
						<span>
							共100页，
							跳至
							<input class="p" type="text">
							页
						</span>
						<a class="go" href="#nolink">确定</a>
					</div> -->
					<!-- 分页 end -->
				</div>
				<!-- table end -->
			</div>
			<div class="primary-func push-button fr">
				<a href="javascript:;" data-click-event="push"  bind-attr="class={pushEnabled}?'btn-func':'btn-func disabled'">推送</a>				
			</div>
		</div>
	</div>
	<!-- content end -->